<div class="container">
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>Name: </strong><%= @route.name %></h5>
      <div class="card-header">
        <strong>Trains list:</strong>
      </div>
      <ul class="list-group list-group-flush">
        <% @route.trains.each do |train|%>
          <li class="list-group-item"><%= link_to train.number, [:admin, train] %></li>
        <% end %>
      </ul>
      <p>
        <strong>Stations</strong>
        <% if @route.stations.present? %>
          <div class="table-form ">
            <div class="tr-form ">
              <span class="td-form">Name</span>
              <span class="td-form">Number</span>
              <span class="td-form">Arrival time</span>
              <span class="td-form">Departure time</span>
              <span class="td-form">Submit</span>
            </div>
            <% @route.stations.order_by_number.each do |station| %>
                <%= form_tag update_number_admin_station_path(station), method: :patch, class: 'tr-form' do %>   
                  <span class="td-form"><%= station.name %></span>                     
                  <span class="td-form">              
                    <%= number_field_tag :number, station.route_data(@route, :number) %>
                    <%= hidden_field_tag :route_id, @route.id %>    
                  </span>
                  <span class="td-form"><%= time_field_tag :arrival_time, station.route_data(@route, :arrival_time) %> </span>
                  <span class="td-form"><%= time_field_tag :departure_time, station.route_data(@route, :departure_time) %> </span>
                  <span class="td-form"><%= submit_tag "Change" %>  </span>
                <% end %>          
            <% end %>
          </div>
        <% else %>
          No stations
        <% end %>
      </p>

      <%= link_to 'Edit', edit_admin_route_path(@route) %> |
      <%= link_to 'Back', admin_routes_path %>
    </div>
  </div>
<div>


