<%= form_with(model: station, local: true) do |form| %>
<%= render 'common/errors', resource: @station %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
