<%= form_for [:admin, station], html: { style: "#{display_hidden(hidden)}" }  do |form| %>
<%= render 'common/errors', resource: station %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: station.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
