<tr>
  <td>
    <div id="station_title_<%= station.id %>">
      <%= station.name %>
    </div>
    <%= render 'form', station: station, hidden: true %>
  </td>
  <td><%= link_to 'Show', [:admin, station] %></td>
  <td><%= link_to 'Edit', '', class: 'edit_station', data: {station_id: station.id} %></td>
  <td><%= link_to 'Destroy', [:admin, station], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>