<h1>New Carriage</h1>
<%= form_for(@carriage) do |f| %>
<%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, ['EconomCarriage', 'CoupeCarriage', 'SedentaryCarriage', 'SleepCarriage'].map {|r| [r.underscore.humanize, r.camelcase]}, {} %> 
  </div>


  <div class="field">
    <%= f.label :train_id %><br>
    <%= f.collection_select(:train_id, Train.all, :id, :number, :prompt => 'Select') %>
  </div>

  <div class="field">
    <%= f.label :top_seats %><br>
    <%= f.number_field :top_seats %>
  </div>
  
  <div class="field">
    <%= f.label :bottom_seats %><br>
    <%= f.number_field :bottom_seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>