<%= form_for [:admin, @train] do |form| %>
<%= render 'common/errors', resource: @train %>
  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :train_number %>

    <%= form.label :tail %>
    <%= form.check_box :tail %>

    <%= form.label :route_id %>
    <%= form.collection_select(:route_id, Route.all, :id, :name, :prompt => 'Select') %>
  </div>

  <div class="actions">
    <%= form.submit t('.submit', action: @train.new_record? ? 'Создать' : 'Изменить') %>
  </div>
<% end %>
