<div class="container">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><strong>Number: </strong><%= @train.number %></h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Route: </strong>
        <% if @train.route.present? %>
          <%= @train.route.name%>
        <% else %>
          No route
        <% end %>
      </h6>
      <div class="card-header">
        <strong>Carriages list:</strong>
      </div>
      <ul class="list-group list-group-flush">
        <% @train.carriages.order_by_tail(@train.tail).each do |car| %>
          <li class="list-group-item"> <%= link_to car.number, admin_train_carriage_path(@train, car) %> </li>
        <% end %>
      </ul>
      <% if @train.carriages.present? %>
        <p class="card-text"> <strong>Econom carriages:</strong> <%= @train.carriages.economs.count %> </p>
        <p class="card-text"> Top seats: <%= @train.count_seats('EconomCarriage', :top_seats) %> </p>
        <p class="card-text"> Bottom seats: <%= @train.count_seats('EconomCarriage', :bottom_seats) %> </p>  
        <p class="card-text"> Top side seats: <%= @train.count_seats('EconomCarriage', :side_top_seats) %> </p>    
        <p class="card-text"> Bottom side seats: <%= @train.count_seats('EconomCarriage', :side_bottom_seats) %> </p>          
        <p class="card-text"> <strong>Coupe carriages:</strong> <%= @train.carriages.coupes.count %> </p>
        <p class="card-text"> Top seats: <%= @train.count_seats('CoupeCarriage', :top_seats) %> </p>   
        <p class="card-text"> Bottom seats: <%= @train.count_seats('CoupeCarriage', :bottom_seats) %> </p>     
      <% else %>
        No carriages
      <% end %>
      <%= link_to "Add carriage", new_admin_train_carriage_path(@train), class: 'card-link' %> 
      <%= link_to 'Edit', edit_admin_train_path(@train), class: 'card-link' %> 
      <%= link_to 'Back', admin_trains_path, class: 'card-link' %>
    </div>
  </div>
<div>