<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Route</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.name%>
  <% else %>
    No route
  <% end %>
</p>
<p>
  <strong>Carriages:</strong>
  <% if @train.carriages.present? %>
    <p> <strong>Econom carriages:</strong> <%= @train.carriages.economs.count %> </p>
    <p> Top seats: <%= @train.count_seats('EconomCarriage', :top_seats) %> </p>
    <p> Bottom seats: <%= @train.count_seats('EconomCarriage', :bottom_seats) %> </p>  
    <p> Top side seats: <%= @train.count_seats('EconomCarriage', :side_top_seats) %> </p>    
    <p> Bottom side seats: <%= @train.count_seats('EconomCarriage', :side_bottom_seats) %> </p>          
    <p> <strong>Coupe carriages:</strong> <%= @train.carriages.coupes.count %> </p>
    <p> Top seats: <%= @train.count_seats('CoupeCarriage', :top_seats) %> </p>   
    <p> Bottom seats: <%= @train.count_seats('CoupeCarriage', :bottom_seats) %> </p>     
  <% else %>
    No carriages
  <% end %>
</p>

<ul> Carriages list
  <% @train.carriages.order_by_tail(@train.tail).each do |car| %>
  <li> <%= link_to car.number, admin_train_carriage_path(@train, car) %> </li>
  <% end %>
</ul>

<p>
  <%= link_to "Add carriage", new_admin_train_carriage_path(@train) %>
</p>

<%= link_to 'Edit', edit_admin_train_path(@train) %> |
<%= link_to 'Back', admin_trains_path %>
