<!DOCTYPE html>
<html>
  <head>
    <title>TbRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in?%>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <p>Account: <%= current_user.first_name%> </p>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
    <% end %>
    <%= yield %>

    <div>
      <p> (с) 2018 Денис Доменко </p>
      <p>Учебный проект в <a href="http://www.thinknetica.com">онлайн-школе Thinknetica"</a></p>
    </div>
  </body>
</html>
